h1{
    color: blue;
}

.output{
    display: flex;
    flex-direction: row;
}

input{
    padding: 5px;
}
button{
    padding: 5px;
}

.display_output{
    margin-left: 5px;
    color: blueviolet;
}